/*
:host {
    width: 100%;
    height: 388px;
    float: left;
    position: relative;
}
*/

#banner-shadow {
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 388px;
    position: absolute;
    z-index: 2;
}

#banner-hero {
    height: 388px;
    background-image: url("/assets/images/home-hero.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    min-width: 100%;
}