#recipe-title {
    overflow: hidden;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 115px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 35px;
}

#recipes-results-container {
    width: 80%;
    margin: 0 10%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    z-index: 50;
    top: -181px;
}

#recipes-results-error {
    text-align: center;
    color: #fff;
}