#banner {
    width: 100%;
    height: 388px;
    float: left;
    position: relative;
}

#search-container {
    position: absolute;
    width: 380px;
    margin: 0 auto;
    z-index: 100;
    top: 17px;
    left: 0;
    right: 0;
}

#recipes-results-container {
    width: 80%;
    margin: 0 10%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    z-index: 50;
    top: -181px;
}

#recipes-results-error {
    text-align: center;
    color: #fff;
}