:host{
    width: 80%;
    margin: 0 10%;
    float: left;
    margin-bottom: 50px;
}

.recipe{
    width: 32%;
    margin-right: 2%;
    float: left;
    background-color: #fff;
    border-radius: 10px;

}

.recipe img{
    width: 100%;
    height: auto;
    display: block;
}

.recipe:nth-child(3){
    margin: 0;
}

.recipe h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #4FBC67;
    font-size: 1.3125em;
    margin-bottom: 20px;
}

.recipe p{
    font-size: 0.9375em;
    opacity: 0.5;
}

.recipe-info{
    padding: 20px 5%;
}