<div>
    <div id="search-input-container">

        <div id="search-input">
            <div id="search-input-icon">
                <mat-icon>search</mat-icon>
            </div>
            <form (ngSubmit)="submitSearch()">
                <input name="query" autocomplete="off" type="text" [(ngModel)]="searchterm" (keydown)="search($event)" id="search" placeholder="Descubre una receta" (focus)="onFocus()" (focusout)="onFocusOut()">
            </form>
        </div>


        <div id="instant-search-input" *ngIf="recipes?.length>=1">
            <div *ngFor="let recipe of recipes" class="instant-search-recipe-item" (click)="onItemClick()">
                <button routerLink="/recipe/{{recipe.permalink}}/info" mat-button>{{ recipe.title | titlecase }}</button>
            </div>
        </div>
    </div>
</div>