:host {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 35px;
}

#form-search {
    width: 593px;
    margin: 0 auto;
}

#input-search {
    width: 84%;
    height: 60px;
    padding: 3px 2%;
}

#input-submit {
    width: 14%;
    height: 60px;
    margin-left: 2%;
    background-color: #4FBC67;
    border-radius: 4px;
}