/* LOGO */

#logo {
    width: 120px;
    height: 48px;
    position: absolute;
    left: 10%;
    top: 18px;
    z-index: 100;
}

.search-input-mobile {
    display: none;
}


/* MENU HAMBURGER */

#menu-hamburger {
    position: absolute;
    margin: auto;
    right: 10%;
    top: 20px;
    z-index: 150;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

#menu-hamburger.x {
    color: rgba(0, 0, 0, 1);
    position: fixed;
}


/* --- SEARCH --- */

#banner {
    width: 100%;
    height: 330px;
    float: left;
    position: relative;
}

#home-feed {
    text-align: center;
    float: left;
    width: 100%;
}

#home-feed h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #37443A;
    font-size: 1.875em;
    margin-top: 40px;
    margin-bottom: 20px;
}

#home-feed p {
    font-size: 1.125em;
    opacity: 0.45;
    margin-bottom: 30px;
}

#search-container {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    max-width: 506px;
}

#search-container h1 {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    margin-bottom: 35px;
}


/* -- MENU -- */

#menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100%;
    background-color: #fff;
    z-index: 120;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

#menu h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #37443A;
    font-size: 1.5em;
    margin-top: 90px;
    margin-bottom: 50px;
}

#menu ul button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #4FBC67;
    font-size: 1.3em;
    font-weight: 99;
}

#menu-mobile-search-container {
    margin-top: 80px;
    margin-bottom: 30px;
}


/* 530px */

@media only screen and (min-width: 33.125em) {
    #search-container h1 {
        text-align: center;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 2.5em;
        margin-bottom: 35px;
    }
}


/* 600px */

@media only screen and (min-width: 37.5em) {
    #banner {
        height: 388px;
    }
}


/* 900px */

@media only screen and (min-width: 56.25em) {
    #menu {
        width: 40%;
    }
}


/* 1060px */

@media only screen and (min-width: 66.25em) {
    .search-input-mobile {
        display: inherit;
    }
    #menu-mobile-search-container {
        display: none;
    }
}