<!-- LOGO -->
<div id="logo">
    <a routerLink="/">
        <img src="assets/images/logo.svg" />
    </a>
</div>

<!--  SEARCH -->
<div id="banner">
    <div id="search-container">
        <h1>¿Qué querés cocinar hoy?</h1>
        <app-instant-search></app-instant-search>
    </div>
    <app-banner-hero></app-banner-hero>
</div>

<!--  MENU HAMBURGER -->
<button id="menu-hamburger" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
</button>

<!-- MENU -->
<div id="menu">
    <h3>Explorar categorías</h3>
    <ul>
        <button routerLink="/category/faciles" (click)="toggleMenu()" mat-button>Faciles</button>
        <button routerLink="/category/saludables" (click)="toggleMenu()" mat-button>Saludables</button>
        <button routerLink="/category/vegetarianas" (click)="toggleMenu()" mat-button>Vegetarianas</button>
        <button routerLink="/category/saladas" (click)="toggleMenu()" mat-button>Saladas</button>
        <button routerLink="/category/dulces" (click)="toggleMenu()" mat-button>Dulces</button>
    </ul>
</div>